<p style="color: green"><%= notice %></p>

<%= render @exemplo2 %>

<div>
  <%= link_to "Edit this exemplo2", edit_exemplo2_path(@exemplo2) %> |
  <%= link_to "Back to exemplo2s", exemplo2s_path %>

  <%= button_to "Destroy this exemplo2", @exemplo2, method: :delete %>
</div>
