<p style="color: green"><%= notice %></p>

<%= render @exemplo1 %>

<div>
  <%= link_to "Edit this exemplo1", edit_exemplo1_path(@exemplo1) %> |
  <%= link_to "Back to exemplo1s", exemplo1s_path %>

  <%= button_to "Destroy this exemplo1", @exemplo1, method: :delete %>
</div>
